﻿<div class="container">
    <div class="row">
        <div class="col-md-7">
            <canvas id="c" style="border: solid 1px #ccc;"></canvas>
        </div>
        <div class="col-md-5">
            <button class="btn-danger" value="red">red</button>
            <button class="btn-success" value="green">green</button>
            <button class="btn-primary" value="blue">blue</button>
        </div>
    </div>
</div>
<script src="../../Scripts/jquery-1.10.2.min.js"></script>
<script src="../../Scripts/fabric.js"></script>
<script src="../../Scripts/app.js"></script>